# Kawod Bot specifics
tools/
*.sqlite

# Cached builds
__pycache__/
*.py[cod]
*.so
*.dll
*.egg
*.egg-info/

# IDE and editors
.cache/
.idea/
.project/
.tox/

# Build directories
docs/_build/
build/
dist/